<div class="topnav" id="myTopnav">
    <a href="/">List</a>
    <a href="/details">Details</a>
    <a href="/sort">Sorted (Ascending)</a>
    <a href="/sort/desc">Sorted (Descending)</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>